@model TreinoVirtual.Models.Turma

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Turma</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Horario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Horario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantParticipantes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantParticipantes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TurmaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
